fastapi
uvicorn[standard]
starlette
python-multipart
google-genai
python-dotenv
sentence-transformers
faiss-cpu
pydantic
streamlit
openai-whisper
gTTS
pyttsx3
torch
transformers
pdfminer.six
aiofiles
requests
websockets
typing_extensions
